In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Tags table analysis

In [2]:
tags_df = pd.read_csv('tags.csv')

In [3]:
tags_df.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [4]:
tags_df.head().T

                    0                1             2             3           4
userId              2                2             2             2           2
movieId         60756            60756         60756         89774       89774
tag             funny  Highly quotable  will ferrell  Boxing story         MMA
timestamp  1445714994       1445714996    1445714992    1445715207  1445715200

In [5]:
tags_df.shape

(3683, 4)

In [6]:
tags_df.isnull().sum()

userId       0
movieId      0
tag          0
timestamp    0
dtype: int64

In [7]:
tags_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     3683 non-null   int64
 1   movieId    3683 non-null   int64
 2   tag        3683 non-null   object
 3   timestamp  3683 non-null   int64
dtypes: int64(3), object(1)
memory usage: 115.2+ KB

In [8]:
tags_df.nunique()

userId         58
movieId      1572
tag          1589
timestamp    3411
dtype: int64

In [9]:
tags_df['userId'].value_counts()

userId
474    1507
567     432
62      370
599     323
477     280
424     273
537     100
125      48
357      45
318      41
184      35
573      31
193      20
18       16
119      14
336      10
2         9
305       8
606       7
327       7
166       6
462       5
419       5
356       5
103       5
21        4
289       4
291       4
435       4
132       4
506       3
533       3
319       3
439       3
610       3
509       3
205       3
49        3
177       3
112       3
226       3
487       3
513       3
63        2
76        2
341       2
520       2
256       2
106       2
138       2
288       1
274       1
161       1
167       1
7         1
300       1
543       1
600       1
Name: count, dtype: int64

In [10]:
tags_df['movieId'].value_counts()

movieId
296      181
2959      54
924       41
293       35
7361      34
        ...
540        1
707        1
836        1
1779       1
30749      1
Name: count, Length: 1572, dtype: int64

In [11]:
tags_df['tag'].value_counts()

tag
In Netflix queue      131
atmospheric            36
thought-provoking      24
superhero              24
surreal                23
                     ...
70mm                    1
Romans                  1
British                 1
TERRORISM               1
societal criticism      1
Name: count, Length: 1589, dtype: int64